body{
    margin:0;
    padding:0; /* preenchimento (borda) */
    font-family: Arial, sans-serif; /* tipo de letra */
    background-color: beige; /* cor de fundo do site */
}

h1{
    font-size: 36px; /* tamanho da letra do título  */
    color: rgb(7, 7, 143); /* cor do titulo */
    margin-top: 0; /* espaçamento do titulo do começo da página */
}

p{
    font-size: 20px; /* tamanho da letra do texto */
    line-height: 1.5; /* espaçamento entre uma linha e outra */
    color: rgb(151, 6, 35); /* cor do texto */
}

.container{
    width: 80%; /* largura da onde quero aplicar essa classe */
    height: 50%; /* lugar a ser preenchido */
    margin: 0 auto; /* margem da esquerda para a direita (toda a escrita */
    background-color: black; /* cor de fundo do espaço de tratamento */
    flex-direction: column; /* trabalho em colunas */
    /* flex-direction: row; (trabalhar em linhas) */
    display: flex; /* espaçamento do texto com o titulo */
    text-align: center; /* centraliza o conteúdo q está la dentro da página tratada */
    padding: 20px; /* preenchimento (borda) */
}

@media (max-width: 768px){
    h1{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .container{
        width: 90%;
        padding: 10px;
    }
}