<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>Página de Cadastro</h1>
        <form>
            <label for="newUsername">Nome de usuário:</label>
            <input type="text" v-model="newUsername" required>

            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword" required>

            <label for="confirmPassword">Confirme a senha:</label>
            <input type="password" v-model="confirmPassword" required>

        
            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>
        </form>

        <p class="error" :class="{entrada: mostrarEntrada}">{{error}}</p>

        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

        <!--processo para exibição dos conteúdos dos arrays "usuarios" e 'senhas'-->
        <div>
            <button @click="verCadastrados">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>

            <ol v-if="mostrarLista">
                <li v-for="(usuario, index ) in usuarios">
                    Usuário: {{usuario}}, Senha: {{senhas[index]}}

                </li> <!--Fechamento linha-->
            </ol> <!--Fechamento Lista-->
        </div> <!--Fechamento div-->

    </div>
    <script src="process.js"></script>
    
</body>
</html>