<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>Faça Login</h1>
        <form>
            <label for="username">Nome de Usuário:</label> <!--Rótulo-->
            <input type="text" v-model="username" required> <br><br> <!--(BR)Pular linhas-->

            <label for="password">Senha:</label> <!--Rótulo-->
            <input type="password" v-model="password" required>
            <br><br>

            <button  type="submit" @click.prevent="loginArray">Entrar</button>
        </form> <br><br><!--Fechamento do form (coleta de informações / formulário)-->

        
            <button @click="paginaCadastro">Cadastrar</button>

        <p class="error" :class="{entrada : mostrarEntrada}">{{error}}</p>
        <p class="sucesso" :class="{entrada : mostrarEntrada}">{{sucesso}}</p>

    </div> <!--Fechamento da div principal-->
    <script src="process.js"></script>
</body>
</html>