.error{
    color: red;
    margin: 30px;
    opacity: 0; /*transparência*/
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: green;
    margin: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
    
}