.calculadora
{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(188, 164, 235);
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(197, 27, 120),rgb(28, 28, 28));
    border: 10px solid #ccc;
    border-radius: 4px;
    padding: 20px;


}/*Fechamento calculadora*/

.tela
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #e379c1d0;
    padding: 10px;
    border-radius: 4px;
    background-color: #be0d68a0;
    color: #ccc;
}/*Fechamento tela*/

.botao
{
    display: flex;
    flex-direction: column;
    align-items: center;

}/*Fechamento botao*/

.linha
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.operadores
{
    background-color: #be0d68c3;
    color: #e379c1d0;
    border: 2px solid;
}/*Fechamento operadores*/

.outros
{
    background-color: #ec8e66;
    color: #f5f5f5;
    border: 2px solid #f7edea;
}/*Fechamento outros*/

button
{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 10;
    border: 1,4px solid #f7edea;
    border-radius: 4px;
    background-color: white;
    color: #333;
    cursor: pointer;
}

button:last-child
{
    margin-right: 0;
}

button:hover
{
    background-color: #2491e5;
    color: #f5f5f5
}


